nav {
	background-color: var(--white-primary);
}
// ID style sort by used first
#breadcrumb {
	padding-top: 124px;
	padding-bottom: 148px;
	background-color: var(--white-other);
	.breadcrumb-item {
		color: var(--black-primary);
		font-weight: 300;
		a {
			color: var(--black-primary);
			text-decoration: none;
		}
	}
	.breadcrumb-item.active {
		color: var(--black-primary);
		font-weight: 700;
	}
}
#gallery {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
	margin-top: -124px;
	z-index: 2;
	.card {
		padding: 48px 86px;
	}
	.gallery-title {
		margin-bottom: 24px;
	}
	.gallery-name {
		font-weight: 700;
		font-size: 52px;
		line-height: 24px;
	}
	.gallery-location {
		font-size: 20px;
	}
	.gallery-img {
		margin-bottom: 48px;
	}
	.gallery-about {
		.about-title {
			text-align: center;
			font-family: "Playfair Display", serif;
			font-size: 36px;
		}
		.about-text {
			font-size: 20px;
			color: var(--black-secondary);
		}
	}
}
#cta {
	.section-title {
		margin-bottom: 0;
	}
	.section-brand {
		font-size: 48px;
		margin-bottom: 12px;
	}
	.section-subtitle {
		width: 35%;
		margin-left: auto;
		margin-right: auto;
	}
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	// ID style sort by used first
	#breadcrumb {
		padding-top: 104px;
		padding-bottom: 24px;
	}
	#gallery {
		margin-top: 0;
		.card {
			padding: 48px 0;
			border: none;
			margin: 0;
			border-radius: 0;
			background-color: var(--white-primary);
		}
	}
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}
